<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  {{ with .OutputFormats.Get "rss" }}
    <link rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" href="{{ .Permalink }}">
  {{ end }}
</head>
<body>
<div class="page">

  <header class="site-header">
<pre><a href="{{ "/" | relURL }}" class="title">{{ .Site.Title }}</a>
{{ .Site.Params.tagline }}</pre>
  </header>

  <hr>

  {{ block "main" . }}{{ end }}

  <hr>

  <footer class="footer-area">
<pre>
<a href="{{ "/about/" | relURL }}">about</a>  {{ with .OutputFormats.Get "rss" }}<a href="{{ .Permalink }}">rss.xml</a>{{ end }}
</pre>

    {{ partial "archive-nav.html" . }}
  </footer>

</div>
</body>
</html>
