{{ define "main" }}
  <div class="post-header"><pre><span class="prompt-char">#</span> {{ .Title }}</pre></div>
  <hr>

  {{ $paginator := .Paginate .Pages }}
  {{ range $paginator.Pages }}
    <article class="post">
      <div class="post-header"><pre><span class="prompt-char">#</span> <a href="{{ .Permalink }}">{{ .Title }}</a></pre></div>
      <div class="post-date"><pre>{{ .Date.Format "2006-01-02" }} {{ lower (.Date.Format "Mon") }}</pre></div>
      <div class="post-body">
        {{ .Content }}
      </div>
      {{ with .Params.tags }}
        <div class="post-tags"><pre>{{ range $i, $t := . }}{{ if $i }}  {{ end }}<a href="{{ "/tags/" | relURL }}{{ $t | urlize }}/">[{{ $t }}]</a>{{ end }}</pre></div>
      {{ end }}
    </article>
    <hr>
  {{ end }}

  {{ if gt $paginator.TotalPages 1 }}
    {{ partial "pagination.html" $paginator }}
  {{ end }}
{{ end }}
