{{ define "main" }}
  <article class="post">
    <div class="post-header"><pre><span class="prompt-char">#</span> {{ .Title }}</pre></div>
    <div class="post-date"><pre>{{ .Date.Format "2006-01-02" }} {{ lower (.Date.Format "Mon") }}</pre></div>
    <div class="post-body">
      {{ .Content }}
    </div>
    {{ with .Params.tags }}
      <div class="post-tags"><pre>{{ range $i, $t := . }}{{ if $i }}  {{ end }}<a href="{{ "/tags/" | relURL }}{{ $t | urlize }}/">[{{ $t }}]</a>{{ end }}</pre></div>
    {{ end }}
  </article>

  <nav class="post-nav">
<pre>{{ with .PrevInSection }}<a href="{{ .Permalink }}">&lt; {{ .Title }}</a>{{ end }}  <a href="{{ "/" | relURL }}">~/diary</a>  {{ with .NextInSection }}<a href="{{ .Permalink }}">{{ .Title }} &gt;</a>{{ end }}</pre>
  </nav>
{{ end }}
