<aside class="d-sidebar">
  <h3>月別</h3>
  <ul>
    {{ range (.Site.RegularPages.GroupByDate "2006年1月") }}
      {{ $first := index .Pages 0 }}
      {{ $archiveURL := printf "/archives/%s/" ($first.Date.Format "2006/01") }}
      <li>
        <a href="{{ $archiveURL | relURL }}">{{ .Key }} <span class="cnt">{{ len .Pages }}</span></a>
      </li>
    {{ end }}
  </ul>
  <h3>タグ</h3>
  <ul>
    {{ range .Site.Taxonomies.tags }}
      <li>
        <a href="{{ .Page.Permalink }}">{{ .Page.Title }} <span class="cnt">{{ .Count }}</span></a>
      </li>
    {{ end }}
  </ul>
</aside>
