{{ define "main" }}
  {{ $posts := where .Site.RegularPages "Section" "posts" }}
  {{ $paginator := .Paginate $posts }}
  {{ $pages := $paginator.Pages }}
  {{ $last := sub (len $pages) 1 }}

  {{ range $i, $p := $pages }}
    <article class="post">
      <div class="post-header"><pre><span class="prompt-char">#</span> <a href="{{ $p.Permalink }}">{{ $p.Title }}</a></pre></div>
      <div class="post-date"><pre>{{ $p.Date.Format "2006-01-02" }} {{ lower ($p.Date.Format "Mon") }}</pre></div>
      <div class="post-body">
        {{ $p.Content }}
      </div>
      {{ with $p.Params.tags }}
        <div class="post-tags"><pre>{{ range $j, $t := . }}{{ if $j }}  {{ end }}<a href="{{ "/tags/" | relURL }}{{ $t | urlize }}/">[{{ $t }}]</a>{{ end }}</pre></div>
      {{ end }}
    </article>

    {{ if ne $i $last }}
      <hr>
    {{ end }}
  {{ end }}

  {{ if gt $paginator.TotalPages 1 }}
    {{ partial "pagination.html" $paginator }}
  {{ end }}
{{ end }}
